# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.react-complete-guide.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\projects\react-udemy\react-complete-guide\.idea\.idea.react-complete-guide.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
